# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env

# Data (raw scraped data can be large / shouldn't always be committed)
data/raw/*
!data/raw/.gitkeep
data/processed/*.csv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Streamlit
.streamlit/secrets.toml
